<h1>Polls now!</h1>

<%= for poll <- @polls do %>
  <br/>
  <br/>
  <a href="<%= Routes.poll_path(@conn, :show, poll) %>">
    Go vote! - <%= poll.id %>
  </a>
  <br/>
  <%= render("_poll.html", %{ poll: poll }) %>
<% end %>
